.content {margin-top:100px; margin-left: 50px;}

.img {border: 2px solid gray; float:left;}

h2 { padding-left:500px; }

.explain {margin-left:450px; margin-top:20px;}
    
.foot {padding-top:250px; padding-left:450px;}